<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-toastdemo" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ToastDemo</name>
  <!-- js调用模块；src为调用插件的js文件路径 -->
  <js-module name="ToastDemo" src="www/ToastDemo.js">
  <!-- target 为插件安装后的调用前缀，如：cordova.plugins.ToastDemo.[插件方法名] -->
  <!-- <clobbers target="cordova.plugins.ToastDemo" -->
  <!-- 可以自定义，调用时；ToastDemo.[插件方法名] -->
    <clobbers target="ToastDemo" /></js-module>

  <!-- android 环境配置项 -->
  <platform name="android">
    <!-- 插件配置，target为插件安装时，Cordova项目android环境配置文件的位置 -->
    <!-- 插件安装时会将config-file 标签中的内容添加到 res/xml/config.xml 文件中 -->
    <config-file parent="/*" target="res/xml/config.xml">
    <!-- name 为对应 www/Toast.js 文件中的调用名称 -->
      <feature name="ToastDemo">
      <!-- value 为插件安装到项目后 ToastDemo.java 文件路径，即包路径 -->
      <!-- 此处修改一下，将其改为通用Cordova插件的安装目录 -->
      <!-- <param name="android-package" value="cordova-plugin-toast.ToastDemo" /> -->
        <param name="android-package" value="org.apache.cordova.toastdemo.ToastDemo" />
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"></config-file>
    <!-- src 为插件目录中java源文件路径，target-dir 为插件安装项目中后源文件路径 -->
    <!-- 此处将 target-dir 修改为与包路径一致 -->
    <!-- <source-file src="src/android/ToastDemo.java" target-dir="src/cordova-plugin-toastdemo/ToastDemo" /> -->
    <source-file src="src/android/ToastDemo.java" target-dir="src/org/apache/cordova/toastdemo" />
  </platform>
</plugin>